@import "tailwindcss";
/* Add this to your CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
